@charset "UTF-8";

:root {
  --soft-black: #333;
  --soft-white: #f5f5f5;
  --blue: rgb(89, 89, 228);
  --soft-blue: rgb(134, 134, 233);
  --green: rgb(89, 228, 89);
  --soft-green: rgb(134, 233, 134);
  --red: rgb(228, 89, 89);
  --soft-red: rgb(233, 134, 134);
}

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  color: var(--soft-white);
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--soft-black);
  min-height: 100vh;
  position: relative;
}

#container {
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 9px;
  width: 97%;
  max-width: 450px;
  padding: 3%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#github-icon {
  display: block;
  font-size: 3rem;
  margin-bottom: 3%;
  text-align: center;
}

#title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

#profile-name-input,
#search-button {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-radius: 7px;
  outline: none;
  padding: 2.2% 2%;
  width: 100%;
}

#profile-name-input {
  border-color: rgba(255, 255, 255, .2);
  margin: 3% 0;
}

#search-button {
  border-color: var(--blue);
}

#search-button:active,
#search-button:focus {
  border-color: var(--soft-blue);
}

#search-button i {
  color: var(--blue);
}

#search-button:active,
#search-button:focus i {
  color: var(--soft-blue);
}

#profile-overview {
  margin-top: 5%;
}

#profile-img {
  width: 40%;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

#profile-name {
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 4%;
}

#profile-bio {
  text-align: justify;
  margin: 5% 0;
}

#social {
  width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

#profile-repos {
  margin-top: 5%;
  text-align: center;
}

#show-repos-button {
  margin-top: 3%;
  background-color: transparent;
  border: 1px solid var(--blue);
  border-radius: 7px;
  color: var(--blue);
  outline: none;
  padding: 2.2% 2%;
  width: 100%;
}

#show-repos-button:active,
#show-repos-button:focus {
  border-color: var(--soft-blue);
  color: var(--soft-blue);
}

#repo-list {
  margin-top: 3%;
}

#repo-list-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 5%;
  text-align: center;
}

.repo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  margin-top: 2%;
  border-top: 1px solid rgba(255, 255, 255, .2);
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.open-repo-button {
  border: 1px solid var(--green);
  color: var(--green);
  text-decoration: none;
  outline: none;
  padding: 2%;
  border-radius: 7px;
  cursor: default;
}

.open-repo-button:active,
.open-repo-button:focus {
  border: 1px solid var(--soft-green);
  color: var(--soft-green);
}

#hidden-repos-button {
  margin-top: 3%;
  background-color: transparent;
  border: 1px solid var(--blue);
  border-radius: 7px;
  color: var(--blue);
  outline: none;
  padding: 2.2% 2%;
  width: 100%;
}

#hidden-repos-button:active,
#hidden-repos-button:focus {
  border-color: var(--soft-blue);
  color: var(--soft-blue);
}

.hidden {
  display: none;
}