@charset "UTF-8";

html {
  font-size: 16px;
}

:root {
  --black: #111;
  --blue: rgb(89, 89, 228);
  --red: rgb(228, 89, 89);
  --soft-black: #333;
  --soft-blue: rgb(134, 134, 233);
  --inter-font: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  color: rgba(255, 255, 255, .7);
  font-family: var(--inter-font);
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black);
  height: 100vh;
}

#container {
  background-color: var(--soft-black);
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 9px;
  margin: 5% auto 0 auto;
  padding: 3%;
  width: 95%;
  max-width: 450px;
}

#github-icon {
  display: block;
  font-size: 3.3rem;
  margin-bottom: 3%;
  text-align: center;
}

#title {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

#error-message {
  margin-top: 2%;
  text-align: center;
  font-weight: 600;
  color: var(--red);
}

#input-wrap {
  margin-top: 3%;
  display: flex;
  align-items: center;
}

#search-button,
#profile-name-input {
  padding: 2.8%;
}

button,
#profile-name-input {
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  outline: none;
}

#profile-name-input {
  flex-grow: 6;
  border-color: rgba(255, 255, 255, .2);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  margin: 3% 0;
}

#profile-name-input:focus,
#search-button:active,
#search-button:focus {
  border-color: var(--soft-blue);
}

#search-button {
  flex-grow: 2;
  border-color: var(--blue);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

#search-button i {
  color: var(--blue);
}

#search-button:active,
#search-button:focus i {
  color: var(--soft-blue);
}

#profile-overview {
  margin-top: 5%;
}

#profile-img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 40%;
}

#profile-name {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 4%;
  text-align: center;
  text-transform: capitalize;
}

#profile-bio {
  margin: 5% 0;
  text-align: center;
}

#social {
  margin: 0 auto;
  width: 65%;
  display: flex;
  justify-content: space-around;
}

#profile-company {
  margin-top: 1%;
  text-align: center;
}

#creation-date {
  margin-top: 1%;
  text-align: center;
}

#profile-repos {
  margin-top: 1%;
  text-align: center;
}

#show-repos-button {
  background-color: transparent;
  border: 1px solid var(--blue);
  border-radius: 7px;
  color: var(--blue);
  margin-top: 5%;
  outline: none;
  padding: 2.2% 2%;
  width: 100%;
}

#show-repos-button:active,
#show-repos-button:focus {
  border-color: var(--soft-blue);
  color: var(--soft-blue);
}

#repo-list {
  margin-top: 5%;
}

#repo-list-title {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.repo {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  line-height: 1.4;
  margin-top: 2%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.repo-detail {
  font-weight: 600;
}

.repo-link a {
  color: var(--blue);
  text-decoration: none;
}

.repo-link a:hover {
  color: var(--soft-blue);
}

#hidden-repos-button {
  border-color: var(--blue);
  border-radius: 7px;
  color: var(--blue);
  margin-top: 3%;
  padding: 2.2% 2%;
  width: 100%;
}

#hidden-repos-button:active,
#hidden-repos-button:focus {
  border-color: var(--soft-blue);
  color: var(--soft-blue);
}

.hidden {
  display: none;
}